<main class="container">
  <%= link_to sanitize("&larr; 見積り一覧に戻る"), quotes_path %>

  <div class="header">
    <h1>見積りを追加</h1>
  </div>

  <%= turbo_frame_tag @quote do %>
    <%= render "form", quote: @quote %>
  <% end %>
</main>
