<main class="container">
  <%= link_to sanitize("&larr; 見積りに戻る"), quote_path(@quote) %>

  <div class="header">
    <h1>日付を更新</h1>
  </div>

  <%= turbo_frame_tag @line_item_date do %>
    <%= render "form", quote: @quote, line_item_date: @line_item_date %>
  <% end %>
</main>
